<div class="alert alert-dark border-0 text-light bg-dark fade show">
    <div class="alert-message">
        <strong>Dark!</strong> This is a simple dark alert box. This is a simple dark alert box.
    </div>
    <div class="alert-action">
        <button type="button" class="btn btn-danger btn-sm pull-right" data-dismiss="alert">C'est parti</button>
    </div>
</div>