.alert
    display: flex
    justify-content: space-evenly
    border-radius: 0px
    padding: 0.5rem 1.5rem
    margin-bottom: 0
.alert-action
    width: 100%
    text-align: right
.alert-message
    width: 100%
    text-align: right