<div class="card m-2">
  <div class="card-body">
    <div class="c_body">
      <h5 class="card-title text-muted">Selection de Collections</h5>
      <h6 class="card-title text-muted">Tout afficher</h6>
    </div>
    <div class="blc">
      <div class="row wrapper">
        <div class="col-md-4 p-1">
          <div class="sp-img">
            <div class="top-img">
              <img src="../../assets/images/one.jpg" alt="...">
            </div>
            <div class="msg text-white bg-secondary">
              <p class="mb-0 ml-2">Card Big Title</p>
              <span class="mt-0 mb-0 ml-2">Card Title</span> <br>
              <a href="#" class="text-white mt-1 ml-2">CONTINUE</a>
              <img src="../../assets/images/avatar.png" alt="Avatar" class="avatar">
            </div>
          </div>
        </div>
        <div class="col-md-4 p-1">
          <div class="sp-img">
            <div class="top-img">
              <img src="../../assets/images/one.jpg" alt="...">
            </div>
            <div class="msg text-white bg-secondary">
              <p class="mb-0 ml-2">Card Big Title</p>
              <span class="mt-0 mb-0 ml-2">Card Title</span> <br>
              <a href="#" class="text-white mt-1 ml-2">CONTINUE</a>
              <img src="../../assets/images/avatar.png" alt="Avatar" class="avatar">
            </div>
          </div>
        </div>
        <div class="col-md-4 p-1">
          <div class="sp-img">
            <div class="top-img">
              <img src="../../assets/images/one.jpg" alt="...">
            </div>
            <div class="msg text-white bg-secondary">
              <p class="mb-0 ml-2">Card Big Title</p>
              <span class="mt-0 mb-0 ml-2">Card Title</span> <br>
              <a href="#" class="text-white mt-1 ml-2">CONTINUE</a>
              <img src="../../assets/images/avatar.png" alt="Avatar" class="avatar">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="sp-img">
            <img src="../../assets/images/one.jpg" class="slide-img" alt="...">
            <img src="../../assets/images/one.jpg" class="slide-img" alt="...">
            <img src="../../assets/images/one.jpg" class="slide-img" alt="...">
          </div> -->
  </div>
</div>