.blc
    display: inline-block
.c_body
    display: flex
    justify-content: space-between
    border-radius: 0px
    padding: 0.5rem 0.5rem
.wrapper
    display: flex
    justify-content: space-between
.sp-img
    width: 100%
.top-img
    width: 100%
    img
        width: 100%
        height: 15vh
        object-fit: cover
.slide-img
    width: 33%
.msg
    position: relative
    width: 100%
    height: 15vh
    padding: 1.5rem 0.5rem
.avatar
    border-radius: 50%
    width: 3rem
    position: absolute
    right: 60%
    bottom: 80px
    margin-left: -9px!important
