<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">UI-UX-Datnek</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>just a very simple bootrap modal with no js</p>
                <p class="text-secondary"><small>Not bad for an angular user.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="side-nav-footer">
    <!-- Button HTML (to Trigger Modal) -->
<a href="#myModal" data-toggle="modal" class="text-dark"><i class="bi bi-camera-video-fill text-success mr-2 pt-1"></i> <b>six works! Launch Modal</b> </a>
    <!-- <p>six works!</p> -->
</div>
