.side-nav
    width: 100%
    background-color: #ffffff
    height: 87vh
    overflow-x: hidden
    overflow-y: auto

.avatar
    border-radius: 50%
    width: 17%
.check
    position: relative
    top: 13px
.ink
    display: flex
    justify-content: flex-start
.info1
    font-size: 14px
    padding-top: 25px
    position: relative
    top: 7px
.info2
    font-size: 12px
#basic-addon1
    background-color: transparent
    border: 0
.form-control
    border-block: transparent
input:focus
  color: transparent
  box-shadow: transparent
  border: transparent