<div class="side-nav">
    <div class="pl-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-search"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Salut" aria-label="Salut" aria-describedby="basic-addon1">
          </div>
        <span>Personnes Utilisant Hangouts</span>
    </div>
    <div class="dropdown-divider"></div>
    <nav class="nav nav-pills flex-column">
        <a href="#" class="nav-item nav-link text-dark ink">
            <div class="check">
                <input type="checkbox" class="mr-2">
            </div>
            <img src="../../assets/images/avatar.png" alt="Avatar" class="avatar mr-1">
            <div>
               <span class="info1"> <b>Salut c'est Cool</b></span> <br>
                <span class="disabled info2">wenongmbah@gmail.com</span>
            </div>
        </a>
        <a href="#" class="nav-item nav-link text-dark ink">
            <div class="check">
                <input type="checkbox" class="mr-2">
            </div>
            <img src="../../assets/images/avatar.png" alt="Avatar" class="avatar mr-1">
            <div>
               <span class="info1"> <b>Salut c'est Cool</b></span> <br>
                <span class="disabled info2">wenongmbah@gmail.com</span>
            </div>
        </a>
        <a href="#" class="nav-item nav-link text-dark ink">
            <div class="check">
                <input type="checkbox" class="mr-2">
            </div>
            <img src="../../assets/images/avatar.png" alt="Avatar" class="avatar mr-1">
            <div>
               <span class="info1"> <b>Salut c'est Cool</b></span> <br>
                <span class="disabled info2">wenongmbah@gmail.com</span>
            </div>
        </a>
        <a href="#" class="nav-item nav-link text-dark ink">
            <div class="check">
                <input type="checkbox" class="mr-2">
            </div>
            <img src="../../assets/images/avatar.png" alt="Avatar" class="avatar mr-1">
            <div>
               <span class="info1"> <b>Salut c'est Cool</b></span> <br>
                <span class="disabled info2">wenongmbah@gmail.com</span>
            </div>
        </a>
        <a href="#" class="nav-item nav-link text-dark ink">
            <div class="check">
                <input type="checkbox" class="mr-2">
            </div>
            <img src="../../assets/images/avatar.png" alt="Avatar" class="avatar mr-1">
            <div>
               <span class="info1"> <b>Salut c'est Cool</b></span> <br>
                <span class="disabled info2">wenongmbah@gmail.com</span>
            </div>
        </a>
        <a href="#" class="nav-item nav-link text-dark ink">
            <div class="check">
                <input type="checkbox" class="mr-2">
            </div>
            <img src="../../assets/images/avatar.png" alt="Avatar" class="avatar mr-1">
            <div>
               <span class="info1"> <b>Salut c'est Cool</b></span> <br>
                <span class="disabled info2">wenongmbah@gmail.com</span>
            </div>
        </a>
        <a href="#" class="nav-item nav-link text-dark ink">
            <div class="check">
                <input type="checkbox" class="mr-2">
            </div>
            <img src="../../assets/images/avatar.png" alt="Avatar" class="avatar mr-1">
            <div>
               <span class="info1"> <b>Salut c'est Cool</b></span> <br>
                <span class="disabled info2">wenongmbah@gmail.com</span>
            </div>
        </a>
        <a href="#" class="nav-item nav-link text-dark ink">
            <div class="check">
                <input type="checkbox" class="mr-2">
            </div>
            <img src="../../assets/images/avatar.png" alt="Avatar" class="avatar mr-1">
            <div>
               <span class="info1"> <b>Salut c'est Cool</b></span> <br>
                <span class="disabled info2">wenongmbah@gmail.com</span>
            </div>
        </a>
        <a href="#" class="nav-item nav-link text-dark ink">
            <div class="check">
                <input type="checkbox" class="mr-2">
            </div>
            <img src="../../assets/images/avatar.png" alt="Avatar" class="avatar mr-1">
            <div>
               <span class="info1"> <b>Salut c'est Cool</b></span> <br>
                <span class="disabled info2">wenongmbah@gmail.com</span>
            </div>
        </a>
    </nav>
</div>