<div class="card m-2">
  <div class="card-header">
    <div class="c_body">
      <h6 class="card-title text-muted text-success">LikenedIn for Business</h6>
      <h6 class="card-title text-muted text-success"><i class="bi bi-award"></i></h6>
    </div>
  </div>
  <div class="card-body">
      <div class="row">
          <div class="col-md-2 pr-0">
            <img src="../../assets/images/user.png" alt="">
          </div>
          <div class="col-md-4 pl-0">
            <h6 class="card-title"> <b class="user2">Pink Hair Design</b> </h6>
            <p class="card-text text-muted">Endorsements 21:23</p>
          </div>
      </div>
        <p class="card-text pt-3">Some quick example text to build on the card title and make up the bulk of the card's content.
          example text to build on the card title and make up the bulk of the card title 
        </p>
        <p class="card-text">Some quick example text to build on the card title and make up the.</p>
  </div>
</div>
