/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

$bg-body:#E1E1E1 !important
// $bg-body:#f8f9fa !important

body
    background-color: $bg-body
    margin: 0px !important
    width: 100%
    overflow: hidden
