<div class="row">
  <div class="col-md-12 pr-0">
    <!-- content for block 1 -->
    <app-one></app-one>
  </div>
</div>
<div class="container-fluid p-0 middle-block">
  <div class="row">
    <div class="col-md-9 p-0">
      <div class="row">
        <div class="col-md-12 pr-0">
          <!-- content for block 5 -->
          <app-five></app-five>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pr-0 pl-5">
          <div class="p-3">
            <div class="card m-2">
              <div class="card-body">
                <div class="c_body">
                  <h5 class="card-title text-muted">Selection de Collections</h5>
                  <h6 class="card-title text-muted">Tout afficher</h6>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
            </div>
            <div class="card m-2">
              <div class="card-body">
                <div>
                  <h5 class="card-title text-muted">Selection de Collections</h5>
                  <h6 class="card-title text-muted">Tout afficher</h6>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                  Some quick example text to build on the card title and make up the bulk of the card's content
                </p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content
                  Some quick example text to build on the card.</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                  title and make up the bulk of the card's content
                </p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 pl-0 pr-5">
          <div class="p-3">
            <!-- content for block 4 -->
            <app-four></app-four>
            <!-- content for block 2 -->
            <app-two></app-two>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 pl-0">
      <!-- content for block 3 -->
      <app-three></app-three>
      <app-six></app-six>
    </div>
  </div>
</div>