<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="dropdown">
        <button class="btn btn-default" type="button" id="dropdownMenuButton" data-toggle="dropdown">
            <i class="bi bi-list h3"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#"> <i class="bi bi-house-door text-danger h5 mr-1"></i> Acceuil</a>
            <a class="dropdown-item" href="#"><i class="bi bi-person-badge-fill text-primary h5 mr-1"></i> Profil</a>
            <a class="dropdown-item" href="#"><i class="bi bi-chevron-contract text-danger h5 mr-1"></i>Contacts</a>
            <a class="dropdown-item" href="#"><i class="bi bi-grid text-primary h5 mr-1"></i>Collections</a>
            <a class="dropdown-item" href="#"><i class="bi bi-bug text-danger h5 mr-1"></i>Populaire sur Google +</a>
            <a class="dropdown-item" href="#"><i class="bi bi-people text-success h5 mr-1"></i>Communautes</a>
            <a class="dropdown-item" href="#"><i class="bi bi-calendar-event text-danger h5 mr-1"></i>Evennements</a>
            <a class="dropdown-item" href="#"><i class="bi bi-chat-quote text-success h5 mr-1"></i>Hangouts</a>
            <a class="dropdown-item" href="#"><i class="bi bi-bounding-box text-success h5 mr-1"></i>Pages</a>
            <a class="dropdown-item" href="#"><i class="bi bi-gear-fill text-default h5 mr-1"></i>Parametres</a>

            <p class="nav-link disabled">Laissez un avis - Visiter le guide - Aide</p>
            <div class="dropdown-divider"></div>
            <p class="nav-link disabled">Confidentialite - Condition d'utilisation - condition d'utilisation de google maps</p>
        </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" style="margin-left:15rem;" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Tous <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Amis</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="#">Famille</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Connaissances</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Plus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mentions</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <button class="btn btn-default" type="button" >
                <i class="bi bi-people-fill h5 mr-3"></i>
                <i class="bi bi-chat-quote h5"></i>
            </button>
        </div>
    </div>
</nav>
<!-- <nav class="nav nav-tabs">
        <a href="#" class="nav-item nav-link active">Home</a>
        <a href="#" class="nav-item nav-link">Profile</a>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Messages</a>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Inbox</a>
                <a href="#" class="dropdown-item">Sent</a>
                <a href="#" class="dropdown-item">Drafts</a>
            </div>
        </div>
        <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a>
    </nav> -->
<!-- <div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic">
      Button dropdown <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
      </li>
    </ul>
  </div>  -->