.dropdown-menu
    top: -29%
    left: -18px
    min-width: 16rem

.dropdown-menu
    .dropdown-item
        padding: 0.5rem 1.5rem

.navbar
    padding: 0rem 1rem
    background-color: E1E1E1

.nav-link
    padding: 1rem 1.5rem 0rem 1.5rem
    font-size: 12px